@model IEnumerable<WebFinance.Models.Wallet>

@{
    ViewData["Title"] = "Wallets";
}

<h1>Wallets</h1>

<p>
    <a type="button" class="btn btn-outline-primary" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Balance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsCash)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <div class="card" style="width: 18rem;" >
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.Balance)</p>
                </div>
            </div>

            <tr>               
                <td>
                    <a type="button" class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@item.Uid">Edit</a>
                    <a type="button" class="btn btn-outline-primary" asp-action="Details" asp-route-id="@item.Uid">Details</a>
                    <a type="button" class="btn btn-outline-primary" asp-action="Delete" asp-route-id="@item.Uid"><i class="bi bi-trash3"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
